/* Reset and base styles  */
@import url(./../fonts/Gotham/stylesheet.css);
@import url(./../fonts/Montserrat/stylesheet.css);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 20deg, rgba(0, 0, 0, 0) 21deg 36deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
.hide {
  opacity: 0;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(255, 255, 255);
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  height: 820px;
}

.header__top-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__top-contact {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__link-mail,
.header__link-tel {
  padding-left: 38px;
  font-family: "Gotham", sans-serif;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
  transition: color 0.2s ease;
}
.header__link-mail:hover,
.header__link-tel:hover {
  color: #d34e4e;
}

.header__link-mail span,
.header__link-tel span {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3a3a3a;
  opacity: 0.5;
}

.header__link-mail {
  background-image: url(./../img/sms-tracking.svg);
}

.header__link-tel {
  background-image: url(./../img/call-calling.svg);
}

.header__right-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__top-lang {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 10px;
  align-items: center;
}

.header__lang {
  padding: 20px 44px 20px 54px;
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
  background-image: url(./../img/global.svg), url(./../img/polygon1.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 24px 24px, 14px 5px;
  background-position: left 20px center, right 20px center;
}

.button-link {
  border-radius: 10px;
  padding: 20px 50px;
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.button__top-link {
  color: #fff;
  background: #3b69cb;
  transition: background 0.2s ease;
}
.button__top-link:hover {
  background: #2656bb;
}

.header__box {
  height: 700px;
  padding-top: 200px;
  background-image: url(./../img/main_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.header__title {
  max-width: 880px;
  margin: 0 auto 73px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: #fff;
}

.button__box-link {
  padding: 22px 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  color: #fff;
  background: #3b69cb;
  background-image: url(./../img/button.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 30px center;
  transition: background 0.2s ease;
}
.button__box-link:hover {
  background: #2656bb;
  background-image: url(./../img/button.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 30px center;
}/*# sourceMappingURL=main.css.map */