/* Reset and base styles  */
@import url(./../fonts/Gotham/stylesheet.css);
@import url(./../fonts/Montserrat/stylesheet.css);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 20deg, rgba(0, 0, 0, 0) 21deg 36deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
.hide {
  opacity: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-link {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.none {
  display: none;
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

.header__top-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__nav-btn {
  display: none;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000000;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon_active {
  background-color: transparent;
}

.nav-icon.nav-icon_active::before,
.nav-icon.nav-icon_active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon_active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon_active::after {
  transform: rotate(-45deg);
}

.header__top-contact {
  display: flex;
  align-items: center;
  gap: 50px;
  background: #fff;
}

.header__link-mail,
.header__link-tel {
  padding-left: 38px;
  font-family: "Gotham", sans-serif;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
  transition: color 0.2s ease;
}
.header__link-mail:hover,
.header__link-tel:hover {
  color: #d34e4e;
}

.header__link-mail span,
.header__link-tel span {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3a3a3a;
  opacity: 0.5;
}

.header__link-mail {
  background-image: url(./../img/sms-tracking.svg);
}

.header__link-tel {
  background-image: url(./../img/call-calling.svg);
}

.header__right-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__top-lang {
  position: relative;
  display: flex;
  align-items: center;
  width: 134px;
  border: 1px solid #eee;
  border-radius: 10px;
  align-items: center;
}
.header__top-lang_up {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: normal;
  width: 134px;
  /* border-top-left-radius: 0px; */
  /* border-top-right-radius: 0px; */
  top: 66px;
  background: white;
  left: -1px;
  opacity: 0;
  animation: shows 0.5s;
}
@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lang_show {
  display: flex;
  opacity: 1;
}

.header__lang {
  padding: 20px 44px 20px 54px;
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
  background-image: url(./../img/global.svg), url(./../img/polygon1.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 24px 24px, 14px 5px;
  background-position: left 20px center, right 20px center;
}
.header__lang_up {
  padding: 14px 0 14px 54px;
  background-image: url(./../img/global.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left 20px center;
}
.header__lang_up:hover {
  text-decoration: underline;
}

.pol_top {
  background-image: url(./../img/global.svg), url(./../img/polygon1rotated.svg);
}

.button__top-link {
  width: 224px;
  padding: 20px 0px;
  color: #fff;
  background: #3b69cb;
  transition: background 0.2s ease;
}
.button__top-link:hover {
  background: #2656bb;
}

.header__box {
  min-height: 700px;
  padding: 200px 0 100px 0;
  background-image: url(./../img/main_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.header__title {
  max-width: 880px;
  margin: 0 auto 73px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: #fff;
}

.button__box-link {
  padding: 22px 0px;
  max-width: 278px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  color: #fff;
  background: #3b69cb;
  background-image: url(./../img/button.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 30px center;
  transition: background 0.2s ease;
}
.button__box-link:hover {
  background: #2656bb;
  background-image: url(./../img/button.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 30px center;
}

@media screen and (max-width: 1199px) {
  .header__link-mail {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .header__top-box {
    align-items: center;
  }
  .header__nav-btn {
    display: block;
  }
  .header__right-box {
    flex-direction: column-reverse;
  }
  .header__top-contact {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
    top: 180px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: -0.454px 10px 35px 0px rgba(2, 69, 70, 0.19);
    left: 0;
    right: 0;
    max-width: 320px;
  }
  .header__top-contact_mobile {
    display: flex;
  }
}
@media screen and (max-width: 575px) {
  .header__box {
    padding: 100px 0 100px 0;
  }
  .header__title {
    font-size: 38px;
  }
}
.main {
  max-width: 1920px;
  margin: 0 auto;
}

.service {
  padding: 100px 0;
  text-align: center;
}

.service__header {
  margin-bottom: 20px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 135%;
  color: #3a3a3a;
}

.service__header span {
  color: #d34e4e;
}

.service__text {
  margin-bottom: 50px;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: #3a3a3a;
}

.service__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}

.service__info {
  max-width: 390px;
}

.service__info-top {
  padding: 130px 20px 50px;
  border: 1.4px solid #eee;
  border-radius: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: top 60px center;
}

.service__info-title {
  margin-bottom: 20px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #3a3a3a;
}

.service__info-text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  color: #3a3a3a;
}

.service__info-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  border: 1px solid #3b69cb;
  border-radius: 20px;
  padding: 20px;
  background: rgba(59, 105, 203, 0.1);
  color: #3b69cb;
}

.service__info-link span {
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #3b69cb;
}

.item1 {
  background-image: url(./../img/container2.svg);
}

.item2 {
  background-image: url(./../img/employee1.svg);
}

.item3 {
  background-image: url(./../img/cruise1.svg);
}

@media screen and (max-width: 575px) {
  .service {
    padding: 50px 0;
  }
  .service__header {
    font-size: 26px;
  }
}
.shipper {
  padding: 100px 0;
  background: #3b69cb;
  background-image: url(./../img/users_div.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1920px 915px;
  text-align: center;
}

.shipper__header {
  margin-bottom: 20px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 135%;
  color: #fff;
}

.shipper__text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: #fff;
}

.shipper__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
}

.shipper__info {
  position: relative;
  padding-top: 60px;
  max-width: 305px;
}

.shipper__info-bottom {
  min-height: 291px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 90px 24px 30px;
  background: #fff;
}
.shipper__info-bottom::after {
  position: absolute;
  content: "";
  margin: 0 auto;
  border-radius: 20px;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
}

.shipper__info-image1::after {
  background-image: url(./../img/cruise1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipper__info-image2::after {
  background-image: url(./../img/container1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipper__info-image3::after {
  background-image: url(./../img/document1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipper__info-image4::after {
  background-image: url(./../img/review1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipper__info-title {
  margin-bottom: 10px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #3a3a3a;
}

.shipper__info-text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  color: #3a3a3a;
}

.shipper__text-bottom {
  margin: 0 auto 30px;
  padding-left: 34px;
  max-width: 681px;
  position: relative;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
}
.shipper__text-bottom::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(./../img/info-circle.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  left: 0;
}

.shipper__button-link {
  margin: 0 auto;
  max-width: 310px;
  border: 1px solid #fff;
  padding: 20px 0px;
  color: #fff;
  transition: background 0.2s ease;
}
.shipper__button-link:hover {
  background: #2656bb;
}

@media screen and (max-width: 575px) {
  .shipper {
    padding: 50px 0;
  }
  .shipper__header {
    font-size: 26px;
  }
}
.shipowner {
  min-height: 893px;
  padding-top: 100px;
  text-align: center;
}

.shipowner__header {
  margin-bottom: 20px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 135%;
  color: #3a3a3a;
}

.shipowner__header span {
  color: #d34e4e;
}

.shipowner__text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: #3a3a3a;
}

.shipowner__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
}

.shipowner__info {
  position: relative;
  padding-top: 60px;
  max-width: 305px;
}

.shipowner__info-bottom {
  min-height: 266px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 90px 24px 30px;
  background: #fff;
}
.shipowner__info-bottom::after {
  position: absolute;
  content: "";
  margin: 0 auto;
  border-radius: 20px;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
}

.shipowner__info-image1::after {
  background-image: url(./../img/tender1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipowner__info-image2::after {
  background-image: url(./../img/to-do-list1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipowner__info-image3::after {
  background-image: url(./../img/speech-bubble1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipowner__info-image4::after {
  background-image: url(./../img/delivery-time1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shipowner__info-title {
  margin-bottom: 10px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #3a3a3a;
}

.shipowner__info-text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  color: #3a3a3a;
}

.shipowner__text-bottom {
  margin: 0 auto 30px;
  padding-left: 34px;
  max-width: 460px;
  position: relative;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #3a3a3a;
}
.shipowner__text-bottom::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(./../img/info-circle-red.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  left: 0;
}

.shipowner__button-link {
  max-width: 310px;
  margin: 0 auto 100px;
  padding: 22px 0px;
  font-family: "Gotham", sans-serif;
  background: #3b69cb;
  color: #fff;
  transition: background 0.2s ease;
}
.shipowner__button-link:hover {
  background: #2656bb;
}

@media screen and (max-width: 575px) {
  .shipowner {
    padding: 50px 0;
  }
  .shipowner__header {
    font-size: 26px;
  }
  .shipowner__button-link {
    margin: 0 auto;
  }
}
.works {
  padding: 100px 0;
  text-align: center;
  background: #f1f6ff;
}

.works__header {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 135%;
  text-align: center;
  color: #3a3a3a;
}

.works__header span {
  color: #d34e4e;
}

.works__text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: #3a3a3a;
}

.works__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.works__info {
  position: relative;
  width: 410px;
  min-height: 362px;
  border-radius: 30px;
  padding: 50px;
  text-align: start;
  background: #fff;
}
.works__info_blue {
  background: #3b69cb;
}
.works__info_number1::before {
  position: absolute;
  content: "01";
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 100px;
  background: #fff;
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #3b69cb;
  top: 30px;
  right: 30px;
}
.works__info_number2::before {
  position: absolute;
  content: "02";
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 100px;
  background: #3b69cb;
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  top: 30px;
  right: 30px;
}
.works__info_number3::before {
  position: absolute;
  content: "03";
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 100px;
  background: #3b69cb;
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  top: 30px;
  right: 30px;
}

.works__info-title {
  margin-bottom: 20px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 135%;
  color: #3a3a3a;
}
.works__info-title_white {
  color: #fff;
}

.works__info-text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #3a3a3a;
  margin-bottom: 20px;
}
.works__info-text_white {
  color: #fff;
  margin-bottom: 30px;
}
.works__info-text_bold {
  font-weight: 500;
}

.works__info-text img {
  margin-right: 10px;
}

.works__button-link {
  align-items: center;
  border-radius: 20px;
  padding: 20px 0px;
  border: 1px solid white;
  background: #fff;
  color: #3b69cb;
  transition: background 0.3s ease, color 0.2s ease;
}
.works__button-link:hover {
  background: none;
  color: #fff;
}

@media screen and (max-width: 575px) {
  .works {
    padding: 50px 0;
  }
  .works__header {
    font-size: 26px;
  }
  .works__box {
    row-gap: 50px;
  }
  .works__info {
    width: auto;
    max-width: 410px;
    padding: 50px 22px;
  }
  .works__info_number1::before,
  .works__info_number2::before,
  .works__info_number3::before {
    top: -31px;
    right: 0px;
    left: 0;
    margin: 0 auto;
  }
  .works__button-link {
    max-width: 310px;
    margin: 0 auto;
  }
}
.company {
  min-height: 520px;
  background-image: url(./../img/stage.jpg);
  background-size: cover;
  background-position: center;
  padding: 92px 0;
}

.company__header {
  max-width: 495px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 135%;
  color: #fff;
}

.company__text {
  max-width: 620px;
  padding-top: 30px;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
}

.company__text span {
  font-weight: 500;
}

@media screen and (max-width: 1399px) {
  .company {
    background-position: right -390px center;
  }
}
@media screen and (max-width: 1199px) {
  .company {
    background-position: right -600px center;
  }
}
@media screen and (max-width: 991px) {
  .company {
    background-position: left center;
  }
}
@media screen and (max-width: 575px) {
  .company {
    padding: 50px 0;
  }
  .company__header {
    font-size: 26px;
  }
}
.times {
  padding: 100px 0;
}

.times__box {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.times__box-image {
  width: 640px;
  min-height: 640px;
  background-image: url(./../img/Rectangle2.jpg), url(./../img/imgs.jpg);
  background-repeat: no-repeat;
  background-size: 420px;
  background-position: right bottom, left top;
}

.times__box-info {
  max-width: 580px;
  min-height: 640px;
  padding: 44px 0;
}

.times__header {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 135%;
  color: #3a3a3a;
}

.times__header span {
  color: #d34e4e;
}

.times__title {
  margin-top: 30px;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  color: #3a3a3a;
}

.times__text {
  margin-top: 10px;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #3a3a3a;
}

.times__button-link {
  margin-top: 30px;
  padding: 20px 0;
  max-width: 310px;
  background: #3b69cb;
  color: #fff;
  transition: background 0.2s ease;
}
.times__button-link:hover {
  background: #2656bb;
}

@media screen and (max-width: 1199px) {
  .times {
    padding: 100px 0 0;
  }
  .times__box {
    flex-direction: column;
    align-items: center;
  }
  .times__box-info {
    max-width: 720px;
  }
  .times__button-link {
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .times__box-image {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .times {
    padding: 50px 0 20px;
  }
  .container__times {
    padding-left: 0;
    padding-right: 0;
  }
  .times__box {
    gap: 0px;
  }
  .times__box-info {
    padding-left: 20px;
    padding-right: 20px;
  }
  .times__box-image {
    background-size: 420px;
    background-position: center bottom, center top;
  }
  .times__header {
    font-size: 26px;
  }
}
.footer {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 240px;
  padding: 30px 0;
  background: #f1f6ff;
}

.footer__top-box {
  display: flex;
  justify-content: space-between;
}

.footer__top-contact {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer__link-mail,
.footer__link-tel {
  padding-left: 38px;
  font-family: "Gotham", sans-serif;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
  transition: color 0.2s ease;
}
.footer__link-mail:hover,
.footer__link-tel:hover {
  color: #d34e4e;
}

.footer__link-mail span,
.footer__link-tel span {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3a3a3a;
  opacity: 0.5;
}

.footer__link-mail {
  background-image: url(./../img/sms-tracking.svg);
}

.footer__link-tel {
  background-image: url(./../img/call-calling.svg);
}

.footer__right-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer__top-link {
  width: 224px;
  padding: 20px 0;
  color: #fff;
  background: #3b69cb;
  transition: background 0.2s ease;
}
.footer__top-link:hover {
  background: #2656bb;
}

.footer__line {
  margin: 30px auto;
  height: 1px;
  background: #3b69cb;
  opacity: 0.2;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom-text {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__link {
  width: 40px;
}

.footer__link img {
  transition: transform 0.2s ease-in-out;
}

.footer__link:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1199px) {
  .footer__top-box {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
@media screen and (max-width: 991px) {
  .footer__top-contact {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__top-contact {
    gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */