.header {
    max-width: 1920px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
}

.header__top-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

.header__nav-btn {

    display: none;
}

/* Nav Icon */
.nav-icon-btn {
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 1px;
    --line-margin: 2;
    --color: #000000;
    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
    transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
    top: calc(var(--line-height) * -8);
}

.nav-icon::after {
    top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon_active {
    background-color: transparent;
}

.nav-icon.nav-icon_active::before,
.nav-icon.nav-icon_active::after {
    top: 0;
    transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon_active::before {
    transform: rotate(45deg);
}

.nav-icon.nav-icon_active::after {
    transform: rotate(-45deg);
}

.header__top-contact {
    display: flex;
    align-items: center;
    gap: 50px;
    background: $white;
}


.header__link-mail,
.header__link-tel {
    padding-left: 38px;
    font-family: $font-family;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    transition: color 0.2s ease;

    &:hover {
        color: $red;
    }
}

.header__link-mail span,
.header__link-tel span {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $black;
    opacity: 0.5;
}

.header__link-mail {
    background-image: url(./../img/sms-tracking.svg);
}

.header__link-tel {
    background-image: url(./../img/call-calling.svg);
}

.header__right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__top-lang {
    position: relative;
    display: flex;
    align-items: center;
    width: 134px;
    border: 1px solid $gray-border;
    border-radius: 10px;
    align-items: center;

    &_up {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: normal;
        width: 134px;
        // border-top: none;
        /* border-top-left-radius: 0px; */
        /* border-top-right-radius: 0px; */
        top: 66px;
        background: white;
        left: -1px;
        opacity: 0;

        animation: shows 0.5s;

        @keyframes shows {
            from {

                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}


.lang_show {
    display: flex;
    opacity: 1;
}

.header__lang {
    padding: 20px 44px 20px 54px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    background-image: url(./../img/global.svg),
        url(./../img/polygon1.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 24px 24px, 14px 5px;
    background-position: left 20px center, right 20px center;

    &_up {
        padding: 14px 0 14px 54px;
        background-image: url(./../img/global.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: left 20px center;
       
        &:hover {
            text-decoration: underline;
        }
    }
}

.pol_top {
    background-image: url(./../img/global.svg),
        url(./../img/polygon1rotated.svg);
}



.button__top-link {
    width: 224px;
    padding: 20px 0px;
    color: $white;
    background: $blue;
    transition: background 0.2s ease;

    &:hover {
        background: #2656bb;
    }
}

.header__box {
    min-height: 700px;
    padding: 200px 0 100px 0;
    background-image: url(./../img/main_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.header__title {
    max-width: 880px;
    margin: 0 auto 73px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: $white;

}

.button__box-link {
    padding: 22px 0px;
    max-width: 278px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    color: $white;
    background: $blue;
    background-image: url(./../img/button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 30px center;
    transition: background 0.2s ease;

    &:hover {
        background: #2656bb;
        background-image: url(./../img/button.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left 30px center;
    }
}

@include Desktop {
    .header__link-mail {
        display: none;
    }
}

@include Tablet {

    .header__top-box {
        align-items: center;
    }

    .header__nav-btn {
        display: block;
    }

    .header__right-box {
        flex-direction: column-reverse;
    }

    .header__top-contact {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        margin: 0 auto;
        top: 180px;
        gap: 20px;
        border-radius: 20px;
        box-shadow: -0.454px 10px 35px 0px rgba(2, 69, 70, 0.19);
        left: 0;
        right: 0;
        max-width: 320px;

    }

    .header__top-contact_mobile {
        display: flex;
    }
}

@include X-Mobile {
   
    .header__box {
        padding: 100px 0 100px 0;
    }
    .header__title {
      font-size: 38px;  
    }
}