.shipper {
   
    padding: 100px 0;
    background: $blue;
    background-image: url(./../img/users_div.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1920px 915px;
    text-align: center;
}

.shipper__header {
    margin-bottom: 20px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 42px;
    line-height: 135%;
    color: $white;
}

.shipper__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: $white;
}

.shipper__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 0;
}

.shipper__info {
    position: relative;
    padding-top: 60px;
    max-width: 305px;
}

.shipper__info-bottom {
    min-height: 291px;
    border: 1px solid $gray-border;
    border-radius: 20px;
    padding: 90px 24px 30px;
    background: $white;

    &::after {
        position: absolute;
        content: "";
        margin: 0 auto;
        border-radius: 20px;
        width: 120px;
        height: 120px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        background: $white;
        top: 0;
        left: 0;
        right: 0;
    }

}

.shipper__info-image1::after {
    background-image: url(./../img/cruise1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.shipper__info-image2::after {
    background-image: url(./../img/container1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.shipper__info-image3::after {
    background-image: url(./../img/document1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.shipper__info-image4::after {
    background-image: url(./../img/review1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.shipper__info-title {
    margin-bottom: 10px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: -0.01em;
    color: $black;
}

.shipper__info-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    text-align: center;
    color: $black;
}

.shipper__text-bottom {
    margin: 0 auto 30px;
    padding-left: 34px;
    max-width: 681px;
    position: relative;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: $white;

    &::before {
        position: absolute;
        content: "";
        width: 32px;
        height: 32px;
        background-image: url(./../img/info-circle.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;
        left: 0;

    }

}

.shipper__button-link {
    margin: 0 auto;
    max-width: 310px;
    border: 1px solid $white;
    padding: 20px 0px;
    color: $white;
    transition: background 0.2s ease;

    &:hover {
        background: #2656bb;
    }
}